
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #2C2F48; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  

  .card {
    background: #fff;
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
  }
  
 
  .icon {
    background-color: #F65E5A;
    color: white;
    width: 50px;
    height: 50px;
    margin: 0 auto 1rem auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }
  
 
  h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #2C2F48;
  }
  

  p {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 2rem;
  }
  
  
  .dismiss-btn {
background-color: #2C2F48;
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0px 8px 20px rgba(246, 94, 90, 0.5);
    transition: background 0.3s ease;
  }
  
  .dismiss-btn:hover {
    background: linear-gradient(to right, #fc9365, #f65e5a);
  }
  
 
  